@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{ 
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: #f3f3f3;
    color:#F6F6F6;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.cabecalho{
    padding: 2% 0% 2% 10%;
    background-color: #3f64ad; 
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_links{
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
}

.rodape {
    background-color: #3f64ad;
    padding: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
}

.apresentacao {
    padding: 2% 10%;
    display: flex;
    gap: 10%;
    background-color: #3f64ad;
    height: 20vw;
    align-items: center;
}

.foto{
    height: 20vw;
    border-radius: 50%;
    border: 3px solid #fff;
}

.descricao{
    display: flex;
    flex-direction: column;
    gap: 1%;

}

.nome{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    color: #fff;
}

.profissao{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: #fff;
}

.descricao_contato{
    padding: 5% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 1vw;
}

.descricao_contato_links{
    font-family:'Montserrat', sans-serif;
    color: #ffff;
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    text-align: center;
    gap: 1vw;
    text-decoration: none;
    align-items: center;

}

.icone_contato{
    height: 2vw;
}

.conteudo{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.conteudo_topico{
    
    background-color: #3f64ad;
    font-family:'Montserrat', sans-serif;
    font-size: 2.5vw;
    color: #ffff;
    width: 17vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo_textos{
    padding: 1% 0% 1% 2%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.conteudo_Box{
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}


.Box{
    padding: 10px 20px 10px 10px;
    background-color:#ffff;
    border-left: 0.5vw solid #3f64ad;

    display: inline-block;
    flex-direction: column;
    margin-left: 20px;
}

.conteudo_texto{
    font-family:'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: #313131;
    padding-left: 1%;
    padding: 4px;
}

.conteudo_subtextos{
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    color: #313131;

    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    
}

.conteudo_subtexto{
    padding-left: 1%;
    font-size: 1.1vw;
}

.conteudo_Box_subtexto{
    padding: 1%;
    background-color:#ffff;
    border-left: 0.5vw solid #769eef;
    width: 40vw;

    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.lista{
    padding-left: 15px;
}

@media (min-width: 1500px){

    .apresentacao{
        max-height: 300px;
    }

    .foto{
        max-height: 300px;
    }

    .nome{
        font-size: 52px;
    }

    .profissao{
        font-size: 30px;
    }

    .descricao_contato_links{
        font-size: 30px;
    }

    .icone_contato{
        max-height: 30px;
    }

    .conteudo_topico{
        font-size: 38px;

        width: 250px;
        height: 75px;
    }

    .conteudo_texto{
        font-size: 22px;
    }

    .rodape{
        font-size: 30px;
    }
}